<div class="center" ng-controller="WalletController">

  <div class ="row">
    <div class ="wallet">
    <div class="col-md-2"><img src="images/face.JPG" alt="..." class="img-circle size"></div>
    <div class="col-md-10">
      <div id ="balance"><i ng-class="{'fa fa-gbp': gbpcurrency, 'fa fa-usd': usdcurrency, 'fa fa-eur': eurcurrency}"></i> {{balance | currency: " "}}</div>
      <br>
      <small>Wallet Balance</small>
    </div>
  </div>
  </div>

  <div class="border">

  <div class="row">
    <div class="col-md-5">

    <h1> Transactions </h1>

    <form ng-submit="add()" class="form-inline" role="form">
      <div class="form-group">
        <select class="form-control" ng-model="currency">
          <option selected = "selected">£</option>
          <option>$</option>
          <option>€</option>
        </select>
      </div>
      <div class="form-group">
        <input type="number" step="any" ng-model="field" class ="form-control" placeholder="Enter Money">
      </div>
    <button type="submit" value="Submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add Money To Account</button>
    </form>


    <p>
    <form ng-submit="minus()" class= "form-inline" role="form">
      <div class="form-group">
        <select class="form-control" ng-model="currency">
          <option selected ="selected">£</option>
          <option>$</option>
          <option>€</option>
        </select>
      </div>
    <div class="form-group">
          <input type="number" step="any" ng-model="Minusfield" class="form-control" placeholder="Spend Money">
      </div>
    <button type="submit" value="Submit" class="btn btn-warning"><i class="fa fa-minus"></i> Spend Money</button>
    </form>

    <p>
    <div class="alert alert-danger" ng-show="warning == 1">
      <i class="fa fa-exclamation-triangle"></i> You are attempting to spend more then your available balance of: {{balance | currency: " "}}
    </div>
  </p>


  <h1>Settings </h1>
  Change Currency

  <select ng-model="chosen.name" ng-model-options="{ getterSetter: true }" class ="form-control" ng-options="item as item.curr for item in items">
    {{chosen.name | json}}
  </select>

  <p>
  Delete All Your Data
  <br>
  <button ng-click="reset()" class="btn btn-danger"><i class="fa fa-bolt"></i> Reset</button>
  </p>

</div>

<div class="col-md-5 offset-1" ng-controller="ListController">
  <h1>Statement</h1>
  <div class ="lead">Entered</div>
  <div ng-repeat="t in transactions track by $index">
     {{"+ " + t.currency + t.amount + " on " + t.d | date:medium }}
  </div>

  <div class="lead">Saved</div>
  <div ng-repeat="s in spent track by $index">
     {{"-" + s.currency + s.amount + " on " + s.d | date:medium}}
  </div>

</div>


</div>



</div>
